<div class="container">
  <div class="edit-task border-2 mx-auto text-light border-2 rounded-3 p-4" *ngIf="taskToEdit">
    <form [formGroup]="editTaskForm">
      <div class="form-floating mb-3">
        <input type="text" class="form-control text-white" id="task-name" [formControl]="nameControl" required>
        <label for="task-name">Tâche</label>
      </div>
      <div class="form-floating mb-3">
        <textarea class="form-control" id="task-description" [formControl]="descriptionControl" required></textarea>
        <label for="task-description">Description</label>
      </div>
      <div class="clearfix">
        <div class="float-start">
          <button type="button" (click)="onReturn()" class="btn super-dark my-border-dark rounded-4">Retour</button>
        </div>
        <div class="float-end">
          <button type="submit" (click)="onEditTask()" class="btn super-dark rounded-4" [disabled]="editTaskForm.invalid">Sauvegarder</button>
        </div>
      </div>
    </form>
  </div>
  <div class="preview-task ms-auto me-auto text-white p-4 my-5 rounded-4" *ngIf="previewTask$ | async as previewTask">
    <div class="div-list-item">
      <p>{{previewTask.name}}</p>
      <div class="float-end">
        <input class="form-check-input me-5" checked disabled type="checkbox">
        <button class="btn btn-success me-1 disabled"><i class="fa-solid fa-eye fa-xl"></i></button>
        <button class="btn btn-primary me-1 disabled"><i class="fa-solid fa-pen-to-square fa-xl"></i></button>
        <button class="btn btn-danger ms-1 disabled"><i class="fa-solid fa-trash fa-xl"></i></button>
      </div>
    </div>
  </div>
</div>



